/*======================
    404 page
=======================*/


.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {

    background-image: url("https://ik.imagekit.io/6cga8hi9z/Payload_Blog/404-page_TUf9s-3Xg.gif");
    height: 650px;
    background-position: center;
}


.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #b08751;
    margin: 20px 0;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.contant_box_404 {
    margin-top: -50px;
}