@use '../../../_css/queries.scss' as *;
.supaviews,
.supaview,
.supaerror {
    border-radius: 10px;
    margin: 5px;
    margin-top: 10px;

    padding: 5px;
    background-color: #273238;
}
.supaview{
    margin-top: 20px;
}
.supaviews {
    position: relative;
    width: 900px;
   
    margin: 5px 5px;
    color: #FFFFFF;
    background-repeat: no-repeat;
    @include small-break{
        width: 300px;
        margin: 0;
    }
}


.supaview__copy {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
}
.supaview__copy input ::placeholder{
    color: white;
}
.supaview__copy input,
.supaview__copy textarea {
    outline: none;
    padding: 10px;
    background-color: #b88c5e;
    border: 1px solid rgb(121, 116, 116);
    border-radius: 10px;
    margin: 5px 0;
    color: #FFFFFF;
}
.supaview__title{
    align-items: center;
    text-align: center;
    font-size: 18px;
}
/* Rating styles */
.supaview__rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .starContainer {
    position: relative;
    margin-right: 0.5rem;
  }
  
  .hiddenRadio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .starLabel {
    cursor: pointer;
  }
  
  .checked {
    color: #ffc107;
    font-size: 30px;
    transition: .2s ease-in;
  }
  .message{
    margin: 10px 0;
    padding: 10px;
  }
  .submit{
    border-radius: 10px;
    max-height: 50px;
  }