@use '../../../_css/queries.scss' as *;
.supaviews,
.supaview,
.supaerror {
    border-radius: 10px;
    margin: 5px;
    margin-top: 10px;

    padding: 5px;
    background-color: #273238;
}
.supaview{
    margin-top: 20px;
}
.supaviews {
    position: relative;
    width: 900px;
   
    margin: 5px 5px;
    color: #FFFFFF;
    background-repeat: no-repeat;
    @include small-break{
        width: 300px;
        margin: 0;
    }
}


.supaview__copy {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
}
.supaview__copy input ::placeholder{
    color: white;
}
.supaview__copy input,
.supaview__copy textarea {
    outline: none;
    padding: 10px;
    background-color: #b88c5e;
    border: 1px solid rgb(121, 116, 116);
    border-radius: 10px;
    margin: 5px 0;
    color: #FFFFFF;
}
.supaview__title{
    align-items: center;
    text-align: center;
    font-size: 18px;
}
/* Rating styles */
.supaview__rating {
    display: flex;
}

.supaview__rating div {
    cursor: pointer;
    margin-right: 10px;
}

.supaview__rating .fa-star {
    
    transition: color 0.3s ease-in-out;
}
.rating{
    font-size: 40px;
}
.supaview__rating .fa-star:hover {
    color: yellow;
    font-size: 30px;
}

.supaview__rating .checked {
    color: yellow;
    font-size: 30px;
}

/* Submit button styles */
.supaview__submit {
    padding: 10px 15px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #64B883;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    transition: 0.2s ease-in-out;
}

.supaview__submit:hover {
    background-color: #6ECB90;
}

/* Error message styles */
.supaerror {
    background-color: #E56460;
}
