@use '../../../_css/queries.scss' as *;

.footer {
  padding: 0;
  background-color: #b88d5e;
  color: var(--theme-elevation-0);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
  list-style: none;
  list-style-type: none;

  @include small-break {
    padding: 0;
  }
}

.footer ul{
  list-style: none;
  list-style-type: none;
}
.inclusions {
  display: grid;
  justify-content: center;
  
  gap: 40px;
  border-radius: 30px;
  list-style: none;
  list-style-type: none;
  padding: 50px;
  grid-template-columns: repeat(4, 1fr);
  margin: 50px 50px;
  background-color: #b88d5e;
  color: white;
  @include small-break {
    grid-template-columns: repeat(2, 1fr);
    border-radius: 5px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  }

  @include mid-break {
    margin: 60px 0;
    grid-template-columns: repeat(2, 1fr);
  }

  @include extra-small-break {
    grid-template-columns: repeat(2, 1fr);
    margin: 5px;
    padding: 5px;
  }
}

.icon {
  margin-bottom: 16px;
  @include extra-small-break {
    margin-bottom: 5px;
    transition: transform 0.3s ease;
  }

}
.icon:hover{
  transform: scale(1.1);
}


.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;



  @include small-break {
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

// .logo {
//   width: 170px;
// }

.hr {
  border-color: var(--color-white-500-20);
}

.socialLinks {
  display: flex;
  padding: 0px;
  margin: 0;
  gap: 0px;
  width: 100%;
  transition: .5s ease-in;
}
.socialLinks :hover{
  scale: 1.1;

}

.socialLinkItem {
  width: 100%;
  width: 100px;
  height:  100px;
}

.socialIcon {
  width: 40px;
  height: 40px;
  @include small-break {
    width: 20px;
    height: 20px;
  }
 
}


.footerlist{
  list-style: none;
  text-decoration: none;
  transition: .5s;
  @include small-break{
    padding: 10px;
  }
  
}
.footerlist:hover{
  color: #b88d5e;

}
.footerLogo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Footercategories{
  position: relative;
}
.footerLabel{
  color: orangered;
  text-decoration: none;
}
.footerWrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items:flex-start;
  transition: .5s;
  @include small-break {
    
    display: grid;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
   
    grid-template-columns: repeat(1, 1fr);
  }
}
.footerWrapper ul li{
  text-decoration: none;
  @include small-break{
    padding: 7px;
  }
 

}
.footerWrapper ul li:hover{
  color: #b88d5e;
}
.copyright{
  margin-bottom: 0;
  margin-top: 10px;
 
}


.footer {
  padding: 5px;
  background-color: #273238;
  color: white;
  padding-bottom: 5px;
  margin-bottom: 0;
 

  @include small-break {
    padding: 10px;
  }
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(var(--base) / 2) var(--base);
}

.logo {
  width: 150px;
}
.title{
  text-decoration: none;
  list-style: none;

}
.titles{
  text-decoration: none;
  list-style: none;
  padding: 30px 0 30px 0;
}
.nav {
  display: flex;
  gap: calc(var(--base) / 4) var(--base);
  align-items: center;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 100ms linear;
  visibility: visible;

  > * {
    text-decoration: none;
  }
}
